* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    padding: 0 10px;
    background: linear-gradient(135deg, #4d4d4d 50%, #000000 100%);
}

body::before {
    position: absolute;
    width: 100%;
    background-position: center;
    background-size: cover;
    z-index: -1;
}

.container {
    width: 400px;
    border-radius: 30px;
    padding: 40px;
    text-align: center;
    backdrop-filter: blur(20px);
    transition: all 0.5s ease;
    transform-style: preserve-3d;
}

.container:hover {
    box-shadow: 0 12px 48px rgb(0, 0, 0);
}

.paragrafo{
    color: white;
    padding-top:20px
}

form {
    display: flex;
    flex-direction: column;
    transform: rotateY(0deg);
    transition: transform 0.5s ease;
}

h2 {
    font-size: 40px;
    margin-bottom: 10px;
    color: #ffffff;
}
h2:hover {
    text-decoration: ;
}

.container a:hover {
    text-decoration: underline;
}

button {
    border: none;
    font-weight: 600;
    padding: 15px 50px;
    cursor: pointer;
    border-radius: 25px;
    font-size: 15px;
    border: 2px solid transparent;
    transition: all 0.5s ease;
    margin-top: 10px
}
button:hover {
    color: #ffffff;
    background-color: rgba(25, 0, 255, 0);
    border-color: #ffffff;
}

.register {
    text-align: center;
    margin-top: 25px;
    color: #ffffff;
}

.input-field {
    position: relative;
    border-bottom: solid rgba(255, 255, 255, 0.13);
    margin-bottom: 15px;
    opacity: 1;
    transition: opacity 0.5s ease; /* A transição de opacidade */
}

.input-field label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-0%);
    color: rgb(255, 255, 255);
    font-size: 15px;
    pointer-events: none;
    transition: 0.3s ease;
}

.input-field input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 15px;
    color: rgb(255, 255, 255);
    padding: 0 10px;
}

.input-field input:focus ~ label,
.input-field input:valid ~ label {
    font-size: 0.9rem;
    transform: translateY(-165%);
    color: #8f9bd1;
}

.forget {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px 0 35px 0;
    color: white;
}

#remember {
    accent-color: #4d4d4d;
}

.forget label {
    display: flex;
    align-items: center;
}

.forget label p {
    margin-left: 3px;
}

.container a {
    color: white;
    text-decoration: none;
}


#loginForm, #registerForm {
    transition: transform 1.0s ease, opacity 1.5s ease;
    transform-style: preserve-3d;
}

span:hover {
    text-decoration: underline;
    cursor: pointer;
}